/* index.css */

body {
  margin: 0;
  font-family: 'sans-serif';
  background-color: gray;
}

/* Adjusting page size of the pdf  */
@page {
  size: 700px 1050px; /* here @size: width height; */
  margin: 0;
}
